{% extends 'app/dummy.html' %}
{%block title %}
<title>student details</title>
{% endblock %}
{% block body_block %}
<center>
<table border="3px">
    <tr>
    <th>school name</th>
    <th>school principal</th>
    <th>school location</th>
    </tr>
    <tr>
        <td>{{schoolobj.sname}}</td>
        <td>{{schoolobj.sprincipal}}</td>
        <td>{{schoolobj.slocation}}</td>
    </tr>
</table>
<h1>Students of {{schoolobj}} are </h1>
    {% for st in schoolobj.students.all %}
    <h3>name of the student is {{st.stname}}</h3>

    <h3>Age of the student is {{st.stage}}</h3>
    {% endfor %}

<h1><a href="{% url 'update' pk=schoolobj.pk %}">update</a></h1>
</center>
{% endblock %}